﻿body {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('images/background-blur.jpg');
}
.login_body {
    margin-left:30%;
    margin-right:30%;
    margin-top :15%;
    background-image: url('images/login background.jpg');
    background-repeat:no-repeat;
    text-align:center;
    padding:50px;
    border-radius:15px 15px; 
    
}
.lbl_login{
    font-size:28px;
    color:darkblue;
    font-weight:100;
    text-shadow:2px 1px 15px;
}
.login_userName{
    font-size:22px;
    text-align:center;
    padding-left:20%;
}

.btn_login{
    font-size:18px;
    color:white;
    background-color:black;
    border-radius:12px 5px;
    border:2px solid black;
    border:3px solid red;
    padding-left:0px;
    margin-left:15px;
    margin-bottom: 0px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.registration_body{
    margin-left:30%;
    margin-right:30%;
    margin-top :15%;
    background-image: url('images/login background.jpg');
    background-repeat:no-repeat;
    text-align:center;
    padding-left:10px;
    padding-top:20px;
    border-radius:15px 15px;
    font-size:24px;
    
}

