﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Master.master.cs" Inherits="SuperShop.Master" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>
        <asp:ContentPlaceHolder ID="title" runat="server">
    </asp:ContentPlaceHolder>
    </title>
    <link href="css/Master.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
<div>
<div class="main">
<div class="page">
<div class="header">
<div class="banner">
<h1>Your Company</h1>
</div>
<div class="topmenu">
<ul>
  <li style="border-left: medium none;"><a href="index.html">Home</a></li>
  <li><a href="#">About Us</a></li>
  <li><a href="#">Recent articles</a></li>
  <li><a href="#">Email</a></li>
  <li><a href="#">Resources</a></li>
  <li><a href="#">Links</a></li>
  <li><a href="#">Contact</a></li>
</ul>
</div>
</div>
<div class="content">
    <img src="css/images/copyright.gif" />
<div class="content-in">
    <div>
        <asp:ContentPlaceHolder ID="body" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
</div>
</div>
<div class="footer">
<p>&copy; Copyright 2019. SuperShop</p>
</div>
</div>
</div>
        </div>
    </form>
</body>
</html>
