﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Client.Master" AutoEventWireup="true" CodeBehind="Customer.aspx.cs" Inherits="SuperShop.Customer" %>
<asp:Content ID="Content1" ContentPlaceHolderID="title" runat="server">
    Customer
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">
    <link href="css/customer.css" rel="stylesheet" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>
        
    </div>
</asp:Content>
