﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="SuperShop.Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>login</title>
    <link href="css/login.css" rel="stylesheet" />
    <style type="text/css">
        .lbl_login {
            height: 50px;
        }
        #btn_save {
            width: 63px;
        }
        .auto-style1 {
            width: 111px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div class="log_logo">

        </div>
        <div class="login_body">
            <div class="lbl_login">
                <asp:Label  ID="Label3" runat="server" Text="Customer Login"></asp:Label>
            </div>
                    <div class="login_userName">
            <table>
                <tr>
                    <td class="auto-style1">
                    <asp:Label ID="Label1" runat="server" Text="Phone No"></asp:Label>
                        </td>
                    <td>
                    <asp:TextBox ID="TextBox1" Class="txt_name" runat="server"></asp:TextBox>
                     </td>
                 </tr>
                <tr>
                    <td class="auto-style1">
                    <asp:Label ID="Label2" runat="server" Text="Password"></asp:Label>
                        </td>
                    <td>
                    <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                        </td>
                    </tr>
                <tr>
                    <td class="auto-style1"></td>
                    <td>
                     <asp:Button ID="Button2" Class="btn_login" runat="server" Text="Registration" OnClick="Button2_Click" />
                     <asp:Button ID="Button1" Class="btn_login" runat="server" Text="Login" OnClick="Button1_Click" />
                    </td>
                </tr>
            </table>
                    </div>        
        </div>
    </div>
    </form>
</body>
</html>
