﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Registration.aspx.cs" Inherits="SuperShop.Registration" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>registration</title>
    <link href="css/login.css" rel="stylesheet" />
        <style type="text/css">
        .lbl_login {
            height: 50px;
        }
        #btn_save {
            width: 63px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        <div class="log_logo">

        </div>
        <div class="registration_body">
            <div class="lbl_login">
                <asp:Label  ID="Label3" runat="server" Text="Customer Registration"></asp:Label>
            </div>
                   <div class="login_userName">
            <table>
                <tr>
                    <td>
                    <asp:Label ID="Label1" runat="server" Text="User Name"></asp:Label>
                        </td>
                    <td>
                    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                     </td>
                 </tr>
                <tr>
                    <td>
                    <asp:Label ID="Label4" runat="server" Text="Phone No"></asp:Label>
                        </td>
                    <td>
                    <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
                     </td>
                 </tr>
                <tr>
                    <td>
                    <asp:Label ID="Label5" runat="server" Text="Email"></asp:Label>
                        </td>
                    <td>
                    <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
                     </td>
                 </tr>
                <tr>
                    <td>
                    <asp:Label ID="Label6" runat="server" Text="Address"></asp:Label>
                        </td>
                    <td>
                    <asp:TextBox ID="TextBox5" runat="server"></asp:TextBox>
                     </td>
                 </tr>               
                <tr>
                    <td>
                    <asp:Label ID="Label2" runat="server" Text="Password"></asp:Label>
                        </td>
                    <td>
                    <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                        </td>
                 </tr>
                <tr>
                    <td>
                    <asp:Label ID="Label7" runat="server" Text="Repeat Password"></asp:Label>
                        </td>
                    <td>
                    <asp:TextBox ID="TextBox6" runat="server"></asp:TextBox>
                     </td>
                 </tr>
                <tr>
                    <td><p>Back To <asp:Button ID="Button1" Class="btn_login" runat="server" Text="Login" OnClick="Button1_Click"/></p></td>
                     <td><asp:Button ID="Button2" Class="btn_login" runat="server" Text="Resistration" OnClick="Button2_Click" /></td>
                    </tr>
            </table>
                    </div>

                    
        </div>
    </div>
    </form>
</body>
</html>
